@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root{
    --primarycolor: black;
    --dangercolor: red;
    --successcolor: rgb(49, 218, 49);
    --warningcolor: yellow;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar{
   background-color: var(--primarycolor);
   height: 60px;
   padding: 0 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;

}

.navbar-name{
    font-size: 20px;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    margin-left: 20px;
}

.menu li button{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
}

.hero-container{
    height: 700px;
    background-color: gray;
}

.hero-container img{
    display: block;
    height: 100%;
    width: 100%;
}

.botones {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: var(--primarycolor);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: white;
    cursor: pointer;
    opacity: 60%;
}

.atras {
    left: 2%;
    top: calc(100% - 70px);
}

.adelante {
    right: 2%;
    top: calc(100% - 70px);
}

.experience-container .subtitulo{
    background-color: var(--primarycolor);
    color: white;
    height: 80px;
    font-size: 36px;
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.experience-container .project{
    margin: 20px 50px;
    height: 550px;
    display: flex;
    width: 100%;
    align-content: space-between;
}

.experience-container .project .content h2{
    margin-bottom: 50px;
    font-size: 36px;
}

.experience-container .project .content p{
    margin-bottom: 30px;
    font-size: 24px;
}

.experience-container .project .content ul{
    margin-bottom: 20px;
    font-size: 24px;
    list-style: none;
}


.experience-container img{
    width: 600px;
    height: 500px;
    position: absolute;
    right: 5%;
    
}